@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $neutral-900;
    font-size: 18px;
    color: $neutral-200;
    font-family: Arial, Helvetica, sans-serif;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

//Header styling

#logo-image {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

// Main page styles

#wrapper-search-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

    h1 {
        font-size: clamp(32px, 5vw, 58px);
    }
}

#main-content-wrapper {
    border-radius: 10px;
    background-color: $blue-700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.temp-wrapper {
    display: flex;
    align-items: center;
}
